@{
    ViewBag.Title = "Trang chủ Lucky Draw";
}

<div style="text-align:center; margin-top:40px;">
    <h1>Chào mừng đến với chương trình Lucky Draw!</h1>
    <p>
        Chọn chức năng ở menu để bắt đầu:<br />
        <a href="/Home/ImportExcel" class="btn btn-primary" style="margin:10px;">Import khách hàng từ Excel</a>
        <a href="/LuckyDraw" class="btn btn-success" style="margin:10px;">Quay số may mắn</a>
        <a href="/Report" class="btn btn-info" style="margin:10px;">Xem báo cáo trúng thưởng</a>
        <a href="/Settings" class="btn btn-warning" style="margin:10px;">Cài đặt chương trình</a>
    </p>
</div>
